Repository dwdozier/vibomat: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest, e2e-sanity, frontend-test

ty:
  name: ty
  entry: uv run ty
  args:
  - check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c "PYTHONPATH=. uv run pytest --cov=backend/core --cov=backend/app --cov-fail-under=90 backend/tests/ -m 'not ci'"
  language: system
  pass_filenames: false

e2e-sanity:
  name: e2e-sanity
  entry: bash -c "PYTHONPATH=. uv run pytest backend/tests/e2e/test_sanity.py -m ci"
  language: system
  pass_filenames: false

frontend-test:
  name: frontend-test
  entry: bash -c "cd frontend && npm test -- run"
  language: system
  pass_filenames: false

ci: fix missing env vars in backend tests
  .github/workflows/main.yml
Due: none

docs: Auto-update documentation via Gemini Agent
  README.md
  SETUP.md
Due: none

fix(docker): auto-run migrations in dev backend
  docker-compose.override.yml
Due: none

docs: Auto-update documentation via Gemini Agent
  SETUP.md
Due: none

chore(conductor): remove completed track from backlog (#79)
  conductor/tracks.md
Due: none

feat(user): Implement User Identity, Handles, and Public Profiles
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  backend/app/api/v1/endpoints/users.py
  backend/app/core/auth/manager.py
  backend/app/db/migrations/versions/f47531f2e1d1_add_user_identity_fields.py
  backend/app/models/user.py
  backend/app/schemas/user.py
  backend/tests/test_social.py
  backend/tests/test_user_identity.py
  conductor/archive/user_identity_privacy_20260105/plan.md
  conductor/archive/user_identity_privacy_20260105/spec.md
  conductor/product.md
  conductor/tracks.md
  frontend/src/api/auth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/profile.$identity.tsx
  frontend/src/routes/profile.me.tsx
  frontend/src/routes/settings.tsx
  frontend/src/test/e2e/settings_sanity.spec.ts
  frontend/vitest.config.ts
  uv.lock
Due: ty, pytest, e2e-sanity, frontend-test

feat(user): Implement User Identity, Handles, and Public Profiles (#81)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  backend/app/api/v1/endpoints/users.py
  backend/app/core/auth/manager.py
  backend/app/db/migrations/versions/f47531f2e1d1_add_user_identity_fields.py
  backend/app/models/user.py
  backend/app/schemas/user.py
  backend/tests/test_social.py
  backend/tests/test_user_identity.py
  conductor/archive/user_identity_privacy_20260105/plan.md
  conductor/archive/user_identity_privacy_20260105/spec.md
  conductor/product.md
  conductor/tracks.md
  frontend/src/api/auth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/profile.$identity.tsx
  frontend/src/routes/profile.me.tsx
  frontend/src/routes/settings.tsx
  frontend/src/test/e2e/settings_sanity.spec.ts
  frontend/vitest.config.ts
  uv.lock
Due: ty, pytest, e2e-sanity, frontend-test

docs: Auto-update documentation via Gemini Agent
  README.md
Due: none

chore(conductor): scaffold Playlist Lifecycle track and resolve conflicts
  conductor/tracks.md
  conductor/tracks/playlist_lifecycle_sync/plan.md
  conductor/tracks/playlist_lifecycle_sync/spec.md
Due: none

feat(db): Add deleted_at column to Playlist model
  backend/app/db/migrations/versions/b4abab401265_add_deleted_at_to_playlist.py
  backend/app/models/playlist.py
  backend/tests/test_playlist_model_lifecycle.py
Due: ty, pytest, e2e-sanity

feat(api): Add soft-delete and restore endpoints
  backend/app/api/v1/endpoints/playlists.py
  backend/tests/test_soft_delete_api.py
  conductor/tracks/playlist_lifecycle_sync/plan.md
Due: ty, pytest, e2e-sanity

fix(ci): Resolve Ruff E501 failure in periodic_sync_dispatch_task comment
  backend/app/core/tasks.py
Due: ty, pytest, e2e-sanity

docs: Auto-update documentation via Gemini Agent (#86) (#89)
  backend/app/api/v1/endpoints/playlists.py
  backend/app/core/tasks.py
  backend/tests/test_tasks.py
Due: ty, pytest, e2e-sanity

fix(frontend): resolve typescript errors blocking docker build
  frontend/src/routes/playlists.tsx
  frontend/src/routes/settings.tsx
  frontend/tsconfig.app.json
Due: frontend-test

chore: add tech debt and tooling tracks to conductor
  conductor/tracks.md
  conductor/tracks/refactoring_and_debt/plan.md
  conductor/tracks/tooling_and_deps/plan.md
Due: none

remove conductor track archives
  conductor/archive/foundation_security_20260104/metadata.json
  conductor/archive/foundation_security_20260104/plan.md
  conductor/archive/foundation_security_20260104/spec.md
  conductor/archive/playlist_lifecycle_sync_20260107/plan.md
  conductor/archive/playlist_lifecycle_sync_20260107/spec.md
  conductor/archive/postgres_optimization_20260104/metadata.json
  conductor/archive/postgres_optimization_20260104/plan.md
  conductor/archive/postgres_optimization_20260104/spec.md
  conductor/archive/preemptive_formatting_20260104/metadata.json
  conductor/archive/preemptive_formatting_20260104/plan.md
  conductor/archive/preemptive_formatting_20260104/spec.md
  conductor/archive/stabilize_core_20260102/metadata.json
  conductor/archive/stabilize_core_20260102/plan.md
  conductor/archive/stabilize_core_20260102/spec.md
  conductor/archive/user_identity_privacy_20260105/plan.md
  conductor/archive/user_identity_privacy_20260105/spec.md
  conductor/archive/workspace_cleanup_20260104/metadata.json
  conductor/archive/workspace_cleanup_20260104/plan.md
  conductor/archive/workspace_cleanup_20260104/spec.md
Due: none

squash migrations
  .geminiignore
  backend/app/db/migrations/versions/0256a14dd6ff_merge_user_identity_and_deleted_at.py
  backend/app/db/migrations/versions/064b94329b13_add_total_duration_ms.py
  backend/app/db/migrations/versions/09010338c349_add_public_profile_and_social_features.py
  backend/app/db/migrations/versions/284fa97d5297_add_playlist_status_and_provider_fields.py
  backend/app/db/migrations/versions/313c5b58af43_add_ai_interaction_embedding_table.py
  backend/app/db/migrations/versions/3e94dca99d0d_add_last_synced_at_to_playlist_model.py
  backend/app/db/migrations/versions/59d84328cd96_initial_tables.py
  backend/app/db/migrations/versions/61c06cf72635_add_oauth_accounts.py
  backend/app/db/migrations/versions/68ccdee09f17_add_tsvector_columns_for_fts.py
  backend/app/db/migrations/versions/69789f1cfee8_add_hnsw_index_to_ai_interaction_.py
  backend/app/db/migrations/versions/6cc33370c404_enable_postgres_extensions.py
  backend/app/db/migrations/versions/7317f7390757_alter_credentials_to_encrypted_string.py
  backend/app/db/migrations/versions/75ad2b67eef0_add_gin_index_to_content_json.py
  backend/app/db/migrations/versions/76397b9595a6_convert_content_json_to_jsonb.py
  backend/app/db/migrations/versions/7a4192d49c72_add_scopes_to_service_connection.py
  backend/app/db/migrations/versions/84b62cc85542_add_gin_indices_for_fts.py
  backend/app/db/migrations/versions/86357b00373d_add_trigram_indices_for_fuzzy_search.py
  backend/app/db/migrations/versions/b4abab401265_add_deleted_at_to_playlist.py
  backend/app/db/migrations/versions/b4fe00f3c024_add_credentials_to_service_connection.py
  backend/app/db/migrations/versions/cfe0aee7e7f0_initial_squash.py
  backend/app/db/migrations/versions/e1aee7cbdc63_change_favorite_artists_to_any.py
  backend/app/db/migrations/versions/f069bbd51c99_add_artist_and_track_tables.py
  backend/app/db/migrations/versions/f47531f2e1d1_add_user_identity_fields.py
Due: ty, pytest, e2e-sanity

conductor(plan): Mark task 'Update backend/core/metadata.py' as complete
  conductor/tracks/advanced_metadata_matching/plan.md
Due: none

feat(metadata): enhance verifier to flag degraded signals
  backend/core/metadata.py
  conductor/tracks/advanced_metadata_matching/plan.md
Due: ty, pytest, e2e-sanity

Feature/metadata enrichment (#94)
  backend/app/api/v1/endpoints/playlists.py
  backend/app/api/v1/endpoints/users.py
  backend/app/schemas/playlist.py
  backend/app/services/ai_service.py
  backend/app/services/metadata_service.py
  backend/core/ai.py
  backend/core/cli.py
  backend/core/client.py
  backend/core/metadata.py
  backend/core/providers/base.py
  backend/core/providers/discogs.py
  backend/core/providers/spotify.py
  backend/tests/test_ai.py
  backend/tests/test_api.py
  backend/tests/test_discogs_provider.py
  backend/tests/test_metadata.py
  backend/tests/test_metadata_enrichment.py
  backend/tests/test_metadata_service_stabilization.py
  backend/tests/test_providers.py
  backend/tests/test_services.py
  conductor/tracks/advanced_metadata_matching/plan.md
Due: ty, pytest, e2e-sanity

record completed track
  conductor/tracks.md
Due: none

feat: Migrate from Gemini CLI to Claude Code
  .env.example
  .github/workflows/doc-agent.yml
  .gitignore
  CLAUDE.md
  Makefile
  backend/app/api/v1/endpoints/integrations.py
  backend/app/api/v1/endpoints/playlists.py
  backend/core/providers/spotify.py
  backend/tests/conftest.py
  backend/tests/test_admin_api.py
  backend/tests/test_admin_endpoints_extra.py
  backend/tests/test_ai_service_extra.py
  backend/tests/test_api.py
  backend/tests/test_integrations_extra.py
  backend/tests/test_playlist_endpoints_extra.py
  backend/tests/test_playlist_management.py
  backend/tests/test_providers.py
  backend/tests/test_services.py
  backend/tests/test_soft_delete_api.py
  backend/tests/test_spotify_stabilization.py
  conductor/tracks/refactoring_and_debt/plan.md
  conductor/workflow.md
  pyproject.toml
  scripts/agent_docs.py
  uv.lock
Due: ty, pytest, e2e-sanity

feat(docs-agent): Add configurable ANTHROPIC_MODEL environment variable
  .env.example
  scripts/agent_docs.py
Due: ty, pytest, e2e-sanity

feat: Complete refactoring track and migrate to Claude Code (#101)
  .env.example
  .github/workflows/doc-agent.yml
  .gitignore
  CLAUDE.md
  Makefile
  backend/app/api/v1/endpoints/integrations.py
  backend/app/api/v1/endpoints/playlists.py
  backend/core/providers/spotify.py
  backend/tests/conftest.py
  backend/tests/test_admin_api.py
  backend/tests/test_admin_endpoints_extra.py
  backend/tests/test_ai_service_extra.py
  backend/tests/test_api.py
  backend/tests/test_integrations_extra.py
  backend/tests/test_playlist_endpoints_extra.py
  backend/tests/test_playlist_management.py
  backend/tests/test_providers.py
  backend/tests/test_services.py
  backend/tests/test_soft_delete_api.py
  backend/tests/test_spotify_stabilization.py
  conductor/tracks/refactoring_and_debt/plan.md
  conductor/workflow.md
  pyproject.toml
  scripts/agent_docs.py
  uv.lock
Due: ty, pytest, e2e-sanity

feat: Add comprehensive security & error handling infrastructure
  backend/app/core/distributed_lock.py
  backend/app/core/logging.py
  backend/app/exceptions.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/exception_handler.py
  backend/app/services/integrations_service.py
  backend/tests/test_distributed_lock.py
  backend/tests/test_exception_handler.py
  backend/tests/test_exceptions.py
  backend/tests/test_logging.py
  backend/tests/test_services.py
  pyproject.toml
  uv.lock
Due: ty, pytest, e2e-sanity

feat: Secure ProxyHeadersMiddleware configuration (Phase 2.3)
  DEPLOYMENT.md
  backend/app/core/config.py
  backend/app/core/error_sanitizer.py
  backend/app/main.py
  backend/app/middleware/exception_handler.py
  backend/tests/test_error_sanitizer.py
  backend/tests/test_proxy_headers.py
  backend/tests/test_spotify_stabilization.py
Due: ty, pytest, e2e-sanity

feat: Add track and playlist validation schemas (Phase 4.1)
  backend/app/schemas/playlist.py
  backend/tests/test_playlist_validation.py
Due: ty, pytest, e2e-sanity

feat: Add validation to playlist operations (Phase 4.2)
  backend/app/api/v1/endpoints/playlists.py
Due: ty, pytest, e2e-sanity

feat: Implement rate limiting middleware (Phase 5.1)
  backend/app/main.py
  backend/tests/test_api.py
  backend/tests/test_proxy_headers.py
  backend/tests/test_rate_limiting.py
  pyproject.toml
  uv.lock
Due: ty, pytest, e2e-sanity

feat: Encrypt access tokens at rest and complete rate limiting
  backend/app/api/v1/endpoints/integrations.py
  backend/app/api/v1/endpoints/playlists.py
  backend/app/core/rate_limit.py
  backend/app/db/migrations/versions/c9a9a2842736_encrypt_access_and_refresh_tokens.py
  backend/app/main.py
  backend/app/models/service_connection.py
  backend/tests/test_endpoint_rate_limits.py
  backend/tests/test_token_encryption.py
Due: ty, pytest, e2e-sanity

docs: Auto-update documentation via Claude Agent
  CONTRIBUTING.md
  README.md
  SETUP.md
Due: none

refactor(playlists): Replace generic Exception handlers with specific types
  backend/app/api/v1/endpoints/playlists.py
Due: ty, pytest, e2e-sanity

refactor(tasks): Replace generic Exception handlers with specific types
  backend/app/core/tasks.py
Due: ty, pytest, e2e-sanity

fix(tests): Mock settings in token refresh tests for CI
  backend/tests/test_services.py
  backend/tests/test_spotify_stabilization.py
Due: ty, pytest, e2e-sanity

test(e2e): Add API sanity tests for integration issues
  backend/tests/e2e/test_api_sanity.py
Due: ty, pytest, e2e-sanity

Path conditions:
  ty: any of: \.py$
  pytest: any of: \.py$
  e2e-sanity: any of: \.py$
  frontend-test: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.jsx$, \.tsx$
